.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(145, 34, 34, 0.25);
  border-color: rgb(205, 39, 39);
}
.btn,
.btn:focus,
.btn:active {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.btn {
  color: white;
  background-color: #d92b2e !important;
  border-color: #d92b2e !important;
  border-radius: 999px;
  width: 95%;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #ed3f3f !important;
  border-color: #ed3f3f !important;
}
.star {
  color: red;
}

.user-box {
  background-color: #fff;
  width: 45%;
  border-radius: 5px;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 50px 10px 50px;
}

.user-box form > div {
  margin-left: 10px;
  margin-right: 10px;
}

.custom-file-label {
  overflow: hidden;
}

.small {
  font-size: small;
}
